name: Release

on:
    push:
        tags:
            - "v*"

permissions:
    contents: write

jobs:
    build-and-release:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Go
              uses: actions/setup-go@v5
              with:
                  go-version: "1.24"

            - name: Extract version from tag
              id: get_version
              run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

            - name: Build binaries
              run: |
                  VERSION=${{ steps.get_version.outputs.VERSION }}
                  ./build.sh $VERSION

            - name: Generate checksums
              run: |
                  cd build
                  sha256sum *.tar.gz *.zip > SHA256SUMS
                  cat SHA256SUMS
                  cd ..

            - name: Create Release
              uses: softprops/action-gh-release@v2
              with:
                  files: |
                      build/*.tar.gz
                      build/*.zip
                      build/SHA256SUMS
                  generate_release_notes: true
                  draft: false
                  prerelease: true
